body {
    font-family: 'realScream', regular;
    background: url("Priyanka.jpg");
}

@media only screen and (max-width: 600px) {
	body {
        font-family: 'realScream', regular;
        background: url("Priyankamobile.jpg");
	}
  }