body {
    font-family: 'realScream', regular;
    background: url("Priyanka.jpg");
}

.desc {
    position:static;
	font-size: 16px;
	color:#FBD839;
	padding:20px;
	background: rgba(50, 47, 106, 0.93);
	min-width: 95%;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
    margin: 10px 0px;
}

@media only screen and (max-width: 600px) {
	body {
        font-family: 'realScream', regular;
        background: url("Priyankamobile.jpg");
	}
  }

